<div class="container-fluid h-100">
    <div class="row h-100">
        <mat-card class="m-auto">
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="m-auto" novalidate>
                    <div class="form-group m-2">
                        <mat-form-field>
                            <input matInput placeholder="username" formControlName="username">
                            <mat-error *ngIf="username.hasError('required')">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group m-2">
                        <mat-form-field>
                            <input matInput placeholder="password" formControlName="password" type="password">
                            <mat-error *ngIf="password.hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="form-group m-2">LogIn</button>
                    <button mat-raised-button color="primary" [routerLink]="['/register']" class="form-group m-2">Register</button>
                    <div *ngIf="error" class="alert alert-danger form-group m-2" role="alert">
                        {{error}}
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>