
	<h1>Hi {{username}} !</h1>
	<div class="row">
		<div class="col-sm-3 sidenav" style="background-color:burlywood;">
      		<ul class="nav nav-pills nav-stacked">
        		<li class="active">
					<a routerLink="details" routerLinkActive="active">Account details</a>
				</li>
        		<li>
					<a routerLink="userList" routerLinkActive="active">Users List</a>
				</li>
        		<li>
					<a routerLink="eventList" routerLinkActive="active">Events List</a>
				</li>
        		<li>
					<a routerLink="searchEvent" routerLinkActive="active">Search Event</a>
				</li>
				<li>
					<a routerLink="createEvent" routerLinkActive="active">Create Event</a>
				</li>
      		</ul><br>
		</div>	  
<!--	<dynamic-form [questions]="questions"></dynamic-form>  -->
		<div class="col-sm-9" style="background-color:cyan;">
			<router-outlet></router-outlet>	
		</div>	
	</div>
	
