<div class="col-md-6 col-md-offset-3">
	<div class="login-page">
		<div class="form">

			<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

				<div class="form-group">
					<input type="text" id="username" class="form-control"
						formControlName="username" placeholder="username" required>
					<div *ngIf="formErrors.username" class="alert alert-danger">{{
						formErrors.username}}</div>
				</div>


				<div class="form-group">
					<input type="text" id="firstname" class="form-control"
						formControlName="firstname" placeholder="firstname" required>
					<div *ngIf="formErrors.firstname" class="alert alert-danger">{{
						formErrors.firstname}}</div>
				</div>

				<div class="form-group">
					<input type="text" id="lastname" class="form-control"
						formControlName="lastname" placeholder="lastname" required>
					<div *ngIf="formErrors.lastname" class="alert alert-danger">{{
						formErrors.lastname}}</div>
				</div>

				
				<div class="form-group">
					<input type="text" id="email" class="form-control"
						formControlName="email" placeholder="email" required>
					<div *ngIf="formErrors.email" class="alert alert-danger">{{
						formErrors.email}}</div>
				</div>


				
				<div class="form-group">
					<input type="text" id="password" class="form-control"
						formControlName="password" placeholder="password" required>
					<div *ngIf="formErrors.password" class="alert alert-danger">{{
						formErrors.password}}</div>
				</div>


				
				<div class="form-group">
					<input type="text" id="confpassword" class="form-control"
						formControlName="confpassword" placeholder="password" required>
					<div *ngIf="formErrors.confpassword" class="alert alert-danger">{{
						formErrors.confpassword}}</div>
				</div>
				

				<div class="form-group">
					<button [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
					<button [routerLink]="['/login']" class="btn btn-primary">Cancel</button>
				</div>


			</form>

		</div>
	</div>
</div>
